body {
  margin: 0;
  padding: 0;
  font-family: 'Calibri', sans-serif;
  background-color: #8E388E;
}

.slots-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #971c28;
  border-radius: 5px;
  width: 400px;
  margin: 40px auto;
  background-color: #C82536;
}

.jackpot-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 50px;
  width: 240px;
  background-color: #fad05e;
}

.jackpot-header {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}


.reels-display {
  margin: 20px;
  background: #fceabb;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #f8b500, #fceabb);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #f8b500, #fceabb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 200px;
  height: 100px;
  padding: 20px;
  font-size: 2em;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.spin-button {
  margin: 10px;
  padding: 10px 30px;
  border-radius: 3px;
  font-size: 1.25em;
  font-weight: bold;
  background-color: #fad05e;
  border: #f8b500;
  transition: all 0.3s;
  color: #C82536;
}

.spin-button:hover {
  background-color: #f8b500;
}

.individual-reel {
  border: 3px solid #f8b500;
  background-color: #ffffff;
  color: #C82536;
  width: 30px;
  height: 40px;
  padding: 10px;
}
