body {
  margin: 0;
  padding: 0;
  font-family: 'Calibri', sans-serif;
  background-color: #eeeeee;
}

.slots-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reels-display {
  margin: 0 auto;
  background-color: #ffffff;
  width: 200px;
  padding: 20px;
  font-size: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.spin-button {
  margin: 10px;
  padding: 10px 30px;
  border-radius: 3px;
  font-size: 1.25em;
  font-weight: bold;
}

.individual-reel {
  border: 1px solid green;
  width: 30px;
  padding: 10px;
}
